* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: #eeeeee;
}

nav {
    background-color: rgb(168, 0, 0);
}

.logo {
    width: 70px;
}

.text-header {
    color: #eeeeee;
    margin-top: 10px;
    text-align: center;
    font-size: 2em;
}

header {
    background-color: #3b3b3b;
}

.wave {
    height: 120px;
}

.center{
    max-inline-size: 550px;
    margin: auto;
    width: 400px;
    margin-bottom: 3em;
    padding-bottom: 2em;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.center h2{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

form .txt_area{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    font-family: 'Oxygen', sans-serif;
}

.txt_area textarea{
    width: 100%;
    padding: 0 5px;
    height: 80px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    font-family: 'Oxygen', sans-serif;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_area label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #BF0606;
    transition: .5s;
}

.txt_area span::before{
    content: '';
    position: absolute;
    top: 80px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #BF0606;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #BF0606;
}

.txt_area textarea:focus ~ label,
.txt_area textarea:valid ~ label{
    top: -10px;
    color: #BF0606;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.txt_area textarea:focus ~ span::before,
.txt_area textarea:valid ~ span::before{
    width: 100%;
}

button[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #BF0606;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover{
    border-color: #BF0606;
    transition: .5s;
}

footer {
    background-color: #3b3b3b;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 1em;
}

footer p {
    color: #eeeeee;
    text-align: center;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .fullbody {
        margin-left: 0px;
    }

    .center{
        width: 300px;
        margin-bottom: 6em;
    }
}